*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: white;
}
img{
    display: block;
    max-width: 100%;
}
.container{
    max-width: 1130px;
    margin: 0 auto;
}

header{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1390px;
    top: 28px;
    left: 50px;
    

}
a{
    display: inline-block;

    color: white;
    font-family: sans-serif;
    background: #e50914;

    align-self: center;
    padding: 8px 18px;

    border-radius: 3px;

    text-decoration: none;
    

}

main{
    width: 100%;
    height: 785px;
   
    background: url("img/bg.jpg") center;
   
    display: flex;
    align-items: center;
    justify-content: center;
   
    text-align: center;
   
    position: relative;
}

.email-loguin{
    z-index: 1;
    
}

.email-loguin h1{
    font-size: 50px;
    max-width: 640px;
    text-align: center;
    
}
h2{
    font-size: 26px;
    margin: 1rem auto;

}
p{
    font-size: 19;
   
}

/* @media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px) */
form {
    display:grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;


}

 .input{

    /* height: 48px;
    width: 500px; */
    padding: 20px 10px ;

    font-size: 16px;
    font-family: sans-serif;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    
    appearance: none;
}
button{
     /* height: 48px;
    width:100%; */
    font-size: 1.625rem;
    background: #f00d0d;
    outline:none;
    border: none;
    color: wheat;
    text-transform: uppercase;
    cursor: pointer;
   
}
button::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 19px;
    background: url("img/seta.svg");
    margin-left: 20px;
}

button:hover{
    background:#f40612 ;
}

.gradient{
    background: rgb(0, 0, 0, 0.4 );
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

section{
    background:black ;
    padding: 4rem 0;
    border-top: solid 8px #222;
    
}

section h1{
    font-size: 50px;
    margin-bottom: 10px;
}

section p{
    font-size: 26px;

}

.grid{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;

}
.img-tv{
    position:relative;
}
.img-tv img{
    position: relative;
    z-index: 1;
}
video{
    position: absolute;
    width: 400px;
    top: 80px;
    left: 70px;
}

.section-dowload{
    padding: 70px 45px;
}
.section-dowload .grid > div:first-child{
    order: 2;
}

.section-dowload .img-tv{
    order: 1;

}
.section-dowload .img-tv img{
    max-width: 100%;
    height: auto;
    border: 0;
}

.section-dowload .text-info{
    padding-left: 48px;
}

.section-dowload h1{
    display: block;
    font-size: 50px;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.section-dowload h2{
    font-size: 1.625rem;
    font-weight: 400;
    
}

.cardanimation{
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: #000;
    z-index: 1;

    display: flex;
    /* align-items: center; */

    width: 60%;
    min-width: 15rem;
    padding: 7px 11px;
    border: solid 2px rgba(255, 255, 255, .25); 
    box-shadow: 0 0 2em 0 #000;

    border-radius: 0.75rem;
    align-items: center;
}

.cardanimation-img{
    width: 53px;
    height: 83px;

    margin-right: 16px;
   
}

.cardanimation-text h2{
    margin: 4.8px 0;
    font-size: 1em;
    color:#fff;
    font-weight: 600;
}

.cardanimation-text p{
    color: #0071eb;
    font-size: .9em;
    font-weight: 400;
}

.animation-icon{
    width: 3em;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    flex-grow: 0;
    flex-shrink: 0;
    
    
}

.section-portable .video-tv{
    width: 340px ;
    top: 50px;
    left: 100px;

}
.section-kids{
    display: flex;
}

.section-kids .grid > div:first-child{
    order: 2;
}

.section-kids .img-tv{
    order: 1;
    margin-right: 16px;
}



footer{
    background: black;
    text-align: center;

    border-top: #222 8px solid;
    padding: 4rem 0 2rem;


    display: grid;
    justify-content: center;

}
footer form{
    margin: 0;
   
}

footer p{
    margin-top: 2rem;
    color: #757575;
    font-size: 13px;
}