/*Root da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
    color: white;
    width: 100%;
}
img{
    display: block;
    max-width: 100%;
}
.container{
    width: 100%;
    max-width: 113.0rem; 
    margin: 0 1.6rem;
}
/*parte do header e navegação*/
header{
    position: absolute;
    z-index: 100;
    width: 100%;
    padding: 15px;
  
}
.nav{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}
a{
   

    color: white;
    font-family: sans-serif;
    background: #e50914;

    font-size: 1.6em;    
    font-weight: 400;

    align-self: center;
    padding: 7px 17px;

    border-radius: 3px;

    text-decoration: none;
 
    

}

/*Button*/
button{
    /* height: 48px;
   width:100%; */
   font-size: 1.625rem;
   background: #f00d0d;
   outline:none;
   border: none;
   color: wheat;
   text-transform: uppercase;
   cursor: pointer;
  
}
button::after{
   content: "";
   display: inline-block;
   width: 10px;
   height: 19px;
   background: url("img/seta.svg");
   margin-left: 20px;
}

button:hover{
   background:#f40612 ;
}

/*email login*/ 
main{
    width: auto;
    height: 785px;
   
    background: url("img/bg.jpg") center;
   
    display: flex;
    align-items: center;
    justify-content: center;
   
    position: relative;
}
.email-login{
    z-index: 1;
    
}

.text-login{
    text-align: center;
}

.text-login h1{
    font-size: 5.0em;
    max-width: 640px;
    text-align: center;
    margin: 1rem auto;
    
}
.text-login p{
    font-size: 1.6em;
}

/* @media only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px) */
form {
    display:grid;
    grid-template-columns: repeat( 2 , minmax( 250px, 1fr ));
    margin-top: 30px;


}

 .input{

    /* height: 48px;
    width: 500px; */
    padding: 20px 10px ;

    font-size: 1.6em;
    font-family: sans-serif;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    
    appearance: none;
}

.gradient{
    background: rgb(0, 0, 0, 0.4 );
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Section and grids*/


section{
    overflow-x:hidden ;
    background:black ;
    padding:0;
    border-top: solid 8px #222;
    
}
.grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 250px, 1.2fr));
    align-items: center;

}
/*text information*/
.text-info{
    margin: 16px;
}

.text-info h1{
    font-size: 5.0em;
    margin-bottom: 10px;
}

.text-info p{
    font-size: 2em;
    font-weight: 400;

}

/*img sections*/ 
.config-img{
    position:relative;
}
.config-img img{
    z-index: 1;
    position: relative;
}
.tv-video{
    position: absolute;
    padding: 0;
    width: 100%;
    max-width: 400px;
    top: 80px;
    left: 70px;
}

.section-dowload{
    padding: 70px 45px;
}
.section-dowload .grid > div:first-child{
    order: 2;
}

.section-dowload{
    order: 1;

}
.section-dowload img{
    max-width: 100%;
    height: auto;
    border: 0;
}


.section-dowload h2{
    font-size: 1.625rem;
    font-weight: 400;
    
}

.cardanimation{
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: #000;
    z-index: 1;

    display: flex;
    /* align-items: center; */

    width: 60%;
    min-width: 15rem;
    padding: 7px 11px;
    border: solid 2px rgba(255, 255, 255, .25); 
    box-shadow: 0 0 2em 0 #000;

    border-radius: 0.75rem;
    align-items: center;
}

.cardanimation-img{
    width: 53px;
    height: 83px;

    margin-right: 16px;
   
}

.cardanimation-text h2{
    margin: 4.8px 0;
    font-size: 1.5em;
    color:#fff;
    font-weight: 600;
}

.cardanimation-text p{
    color: #0071eb;
    font-size: 1em;
    font-weight: 400;
}

.animation-icon{
    width: 4em;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    flex-grow: 0;
    flex-shrink: 0;
    
    
}

.section-portable .portable-video{
    position: absolute;
    width: 320px ;
    top: 50px;
    left: 100px;

}


.section-kids .grid > div:first-child{
    order: 2;
}

.section-kids{
    order: 1;
   
}

/*footer and login*/

footer{
    background: black;
    text-align: center;

    border-top: #222 8px solid;
    padding: 4rem 0 2rem;


    display: grid;
    justify-content: center;

}
footer form{
    margin: 0;
   
}

footer p{
    margin-top: 2rem;
    color: #757575;
    font-size: 13px;
}

/*Responsi */

@media(max-width: 1028px){
    .portable-video{
        width: 30px;
    }
};

@media(max-width:780px ){
    html{
       font-size: 50%;
    }
    .tv-video{
        width: 320px;
        left: 6px;
        
    }
    .section-portable .portable-video{
        width: 200px;
    }
   };

   @media(max-width:425px){}